body {
  background-color: black;
}

h1{
  color: white;
  text-align: center;
}

#image1 img {
  width: 100%;
}


.grid1{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 20px;}
#image2 img{
  width: 100%;}
#box1 {
  color: white;
}
