@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');


body{
  font-family: 'Anton', sans-serif;
  width: 960px;}

#myMenu{
  text-align: center;}

h1{
    color: white;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;}

p {
    font-family: 'Anton', sans-serif;}

nav{
    position: absolute;
    top: 0;
    height: 50px;}

nav ul{
  list-style: none;
  padding: 0;
  text-align: center;}

nav ul li{
  display: inline-block;
  padding: 15px 20px;
  text-align: center;}

nav ul li a{
   text-decoration: none;
   color: #fafafa;
   text-align: center;
   letter-spacing: 1px;
   text-align: center;}

nav ul li .active{
  text-align: center;}

.home-area{
  background-image: url(Images/KatyKennyMusic.png);
  background-size: center;
  background-position: center center;
  text-align: center;}

.wrapper{
    width: 1170px;
    margin: 0 auto;
    text-align: center;}

.banner-area p{
  padding: 0 60% 0 0;
  text-align: center;}

#grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;}
  #bio {
    font-size: 30px;
    color: white;
    width: 30%;
    margin-left: 200px;}
  #pic1 img{
    width: 75%;
    justify-content: left;}

.grid-container{
  display: grid;
  width: 960px;
  grid-template-columns: 480px, 480px;
  margin-bottom: 0px;
  grid-template-rows: 1fr, 1fr;
}
.soundcloud1{
  display: grid;
  display: inline;
  grid-column: 1fr;
  width: 480px;
}
.soundcloud2{
  display: grid;
  display: inline;
  grid-row: 1fr;
  width: 480px;
}

.youtube1{
  display: grid;
  width: 50%;
  grid-column: 1fr;
  display: inline;
  width: 480px;
}

.youtube2{
  display: grid;
  width: 50%;
  grid-column: 1fr;
  display: inline;
  width: 480px;
}



.services-area{
  background-image: url(Images/music-b&w.JPG);
  background-size: cover;
  text-align: center;}

.services-area p{
  text-align: right;
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: gray;
}

.contact-area{
  background-image: url(Images/music-piano.JPG);
  background-position: left;
}

.contact-area input[type=text], .contact-area input[type=email]{
    width: 30%;
    height: 40px;
    padding: 0 20px;}

.contact-area textarea {
  width: 30%;
  padding: 10px 20px;}

.contact-area input[type=submit]{
  background: white;
  padding: 10px 50px;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  border: 0;}
