@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');


body{
  font-family: 'Anton', sans-serif;
  width: 960px;}

#myMenu{
  text-align: center;}

h1{
    color: white;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;}

p {
    font-family: 'Anton', sans-serif;}

nav{
    position: absolute;
    top: 0;
    height: 50px;}

nav ul{
  list-style: none;
  padding: 0;
  text-align: center;}

nav ul li{
  display: inline-block;
  padding: 15px 20px;
  text-align: center;}

nav ul li a{
   text-decoration: none;
   color: #fafafa;
   text-align: center;
   letter-spacing: 1px;
   text-align: center;}

nav ul li .active{
  text-align: center;}

.home-area{
  background-image: url(Images/KatyKennyMusic.png);
  background-size: center;
  background-position: center center;
  text-align: center;}

.wrapper{
    width: 1170px;
    margin: 0 auto;
    text-align: center;}

.banner-area p{
  padding: 0 60% 0 0;
  text-align: center;}

#grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;}
  #bio {
    font-size: 30px;
    color: white;
    width: 30%;
    margin-left: 200px;}
  #pic1 img{
    width: 75%;
    justify-content: left;}

.music-area{
  background-color: black;}

#grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;}
      #soundcloud1 {
        font-size: 30px;}
      #soundcloud2 {
        font-size: 30px;}
      #youtube1{
        font-size: 30px;}
      #youtube2{
        font-size: 30px;}



.shows-area{
  background-image: url(Images/music-b&w.JPG);
  background-size: cover;
  text-align: center;}

.shows-area p{
  text-align: right;
  margin-right: 50px;}

a{
  text-decoration: none;
  color: gray;}

.contact-area{
  background-image: url(Images/music-piano.JPG);
  background-position: left;}

.contact-area input[type=text], .contact-area input[type=email]{
    width: 30%;
    height: 40px;
    padding: 0 20px;}

.contact-area textarea {
  width: 30%;
  padding: 10px 20px;}

.contact-area input[type=submit]{
  background: white;
  padding: 10px 50px;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  border: 0;}
