@import
url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

header{
  background-color: white;
  color: black;
  text-align: center;}
nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;}
nav li{
  display: inline-block;
  margin: 0px 100px;
  padding-top: 10px;
  position: relative;}
nav a{
  color: black;
  font-size: 20px;}

nav a:hover{
  color: #FFFF66}

main{
  width: 960px;
  height: auto;
  background-color: #FFFF66;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;}
footer{
  width: 960px;
  align-items: center;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: center;}

  * {
    margin: 0;
    padding: 0;
  }

body {
  display: grid;
  background-color: #FFFF66;
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  height:100%;
  margin: 0px;
  padding: 0px;}

h1 {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 75px;
  margin: 0px;}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: black;}

h3 {
  margin-bottom: 5px;
  font-size: 30px}

h4 {
  font-size: 40px;
}

a {
  color: blue;
  text-decoration: none;}
a:hover,
a:focus{
  color: red;}

/*This is referring to "Supporting Alex Fig's Fight Against Ewig Sarcoma" title*/
#grid1 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 0 auto;}

/*FIRST ROW*/
#grid2 {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 5px;
  margin-bottom: 5px;}
#box1 img{
  width: 100%;
  height: 300px}
#box2 {
  text-align: center;
  font-size: 17px;
  background-color: white;
  width: 100%;
  height: 300px;
  margin-right: 5px;}
#box3 {
  text-align: center;
  font-size: 17px;
  background-color: white;
  width: 100%;
  height: 300px;
  margin-right: 5px;}
#box4 img{
  width: 100%;
  height: 300px;}


  /*SECOND ROW*/
  #grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;}
  #box5 {
    display: grid;
    background-color: white;
    text-align: center;
    margin: 15px;
    display: inline;}
  #box6 {
    background-color: white;
    text-align: center;
    margin: 15px;
    display: inline;}


    /*THIRD ROW*/
    #grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    grid-row-gap: 0px;
    margin-bottom:5px;}
    #box7 img{
      width: 100%;}
    #box8 img{
      width: 100%;}
    #box9 img {
      width: 100%;}
    #box10 img {
      width: 100%}
    #box11 img {
      width:100%}

      /*FOURTH ROW*/
      #grid5{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 0px;}
      #box12{
        display: grid;
        text-align: center;
        margin: 5px;
        display: inline;
        background-color: white;
        font-size: 18px;}
        #box13{
          display: grid;
          text-align: center;
          margin: 10px;
          display: inline;}
          #box14{
            display: grid;
            text-align: center;
            font-size: 18px;
            margin: 5px;
            display: inline;
            background-color: white;}
